*.log
*.pyc
*.pyo
__pycache__/
checkpoints/
data/
train_data/
*.so
*.o
.idea/
labels/
results/*
*.zip
*.tar.gz
*.gz
*.pkl
*.result
*octave*
*.txt
*.swp
venv/*
tmp/*

*.jpg
*.avi
/Pipfile
.vscode/*
wandb/*
lightning_logs/*